<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Yaseen Saad-Eldin | About </title>
  <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body>
  <section class="loader">
    <h2 class="animate">Decoding Me</h2>
  </section>

  <div id="overlay"></div>
  <main>
    <nav>
      <ul>
        <li><a class="active" href="/yaseenverse/"> Yaseenverse </a></li>
        <li><a href="/"> Thoughts </a></li>
        <li><a href="/"> Activities </a></li>
      </ul>
      <h1><a href="/">&lt;Yasoo/&gt;</a></h1>
      <ul>
        <li><a href="/"> Projects </a></li>
        <li><a href="/"> Paybacks </a></li>
        <li><a href="/"> Contact </a></li>
      </ul>
    </nav>
    <section class="landing">
      <article>
        <span></span>
        <h2 class="exception">Yaseen Saad-Eldin </h2>
        <span>
          A chill guy trying to decode the universe
          <!--  wants to be remembered. -->
        </span>
        <span>
          "High-schooler by day, philosopher by thought, coder by passion, and physicist by curiosity!"
        </span>
        <span id="state"></span>
      </article>
      <img src="/assets/images/Yaseen Saad Eldin Formall.jpg" alt="">
    </section>
    <section class="briefabout">
      <h2>A Letter from Me!</h2>
      <article>
        <span>
          "Greetings from Giza!
        </span>
        <p>
          My name is <b>Yaseen Saad-Eldin Mohamed-Sabry Mohamed-Abdelal</b>, but you can call me Yasoo. I'm a <span id="age"></span> year-old student with a universe-sized curiosity, currently navigating the academic boarding school —or as I call it "the jungle"— known as the <a href="https://www.stemegypt.net">STEM High School for Boys - 6th of October</a>. Let's just say the entrance exam was a battle royale, and I'm proud to say I emerged victorious, landing in the top 0.2% of applicants.
        </p>
        <p>
          My passions lie in the realms of physics and computer science. I spend my days dissecting the mysteries of the universe, from the intricacies of quantum mechanics to the elegance of astrophysics —I am lying I just know mechanics. When I'm not battling equations, you can usually find me buried in code, exploring the digital frontier.
        </p>
        <p>
          I'm a bit of a competitive spirit, having achieved a 5th-place (gold medal) global ranking at the International Physics Realm (IPhR) and the prestigious title of the top Ambassador —I got 85+ other peers to particpate. I've also secured 1st place in Category C of Physics Brawl 2023 and 1st place in Africa and 34th globally in Category B of 2024, breaking the record for the highest score by an African participant. My competitive spirit extends beyond physics. I've achieved an 8th-place ranking in the Logarythm Mathematics Competition and a remarkable score of 55 on the TOFAS Test.
        </p>
        <p>
          Beyond the classroom, I'm deeply involved in the DIGITAL EGYPT CUBS INITIATIVE, where I'm among the select few students chosen for the highest level of training. This program has provided me with invaluable opportunities to hone my coding skills, culminating in a first-place victory at the DECI GEEKS Competition and qualification for the second round of the ECPC in both 2023 and 2024.
        </p>
        <p>
          I'm a member of 13 out of the 14 clubs in school (Biology club? Not so much.), and I'm currently vying for the presidency of both the Physics and Computer Science clubs.
        </p>
        <p>
          Welcome to my corner of the internet. Explore, learn, and feel free to reach out if you have any questions about physics, coding, or how to survive high school.
        </p>

        Best regards,
        <br>
        Yaseen Saad-Eldin
    </section>
    </article>
    <section class="lastblog">
      <h2>Last Thoughts</h2>
      <div>
        <article>
          <h3>Khoater Physiaya</h3>
          <section>
            <img src="/assets/images/56440868230.jpg" alt="">
            <article>
              <h4>What is the coffiencet of friction between my ear and my glasses?</h4>
              <p>A breif lorem about the blog: Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit repellat eaque tenetur nesciunt alias delectus soluta nam tempore pariatur. Quod, optio atque perferendis enim et temporibus repudiandae accusamus illo impedit!</p>
            </article>
          </section>
        </article>
        <article>
          <h3>Khoater Phalsaphya</h3>
          <section>
            <img src="/assets/images/56440868230.jpg" alt="">
            <article>
              <h4>Why do STEMers Really Hate Journals</h4>
              <p>A breif lorem about the blog: Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit repellat eaque tenetur nesciunt alias delectus soluta nam tempore pariatur. Quod, optio atque perferendis enim et temporibus repudiandae accusamus illo impedit!</p>
            </article>
          </section>
        </article>
      </div>
    </section>
    <section class="lastblog">
      <h2>Why may you need me?</h2>
      <div>
        <article>
          <h3>Coding</h3>
          <section>
            <img src="https://th.bing.com/th/id/OIP.VFCDOTV9nou6GtFE5WysbgHaE8?rs=1&pid=ImgDetMain" alt="">
            <article>
              <h4>What is the coffiencet of friction between my ear and my glasses?</h4>
              <p>A breif lorem about the blog: Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit repellat eaque tenetur nesciunt alias delectus soluta nam tempore pariatur. Quod, optio atque perferendis enim et temporibus repudiandae accusamus illo impedit!</p>
            </article>
          </section>
        </article>
        <article>
          <h3>Physics Problem</h3>
          <section>
            <img src="https://th.bing.com/th/id/OIP.6NrxL_FrU1HwaWFnVej92AHaE8?w=256&h=180&c=7&r=0&o=5&pid=1.7" alt="">
            <article>
              <h4>Why do STEMers Really Hate Journals</h4>
              <p>A breif lorem about the blog: Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit repellat eaque tenetur nesciunt alias delectus soluta nam tempore pariatur. Quod, optio atque perferendis enim et temporibus repudiandae accusamus illo impedit!</p>
            </article>
          </section>
        </article>
        <article>
          <h3>Open Discussion</h3>
          <section>
            <img src="https://th.bing.com/th/id/OIP.MAW8cJ_WsxMCvVQ7DMkkeAHaFW?rs=1&pid=ImgDetMain" alt="">
            <article>
              <h4>Why do STEMers Really Hate Journals</h4>
              <p>A breif lorem about the blog: Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit repellat eaque tenetur nesciunt alias delectus soluta nam tempore pariatur. Quod, optio atque perferendis enim et temporibus repudiandae accusamus illo impedit!</p>
            </article>
          </section>
        </article>
        <article>
          <h3>Stuck at the Jungle?</h3>
          <section>
            <img src="https://th.bing.com/th/id/R.134e67eb75a108d134990a43e180d6d8?rik=QGkOMik0oHJbPw&pid=ImgRaw&r=0" alt="">
            <article>
              <h4>Why do STEMers Really Hate Journals</h4>
              <p>A breif lorem about the blog: Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit repellat eaque tenetur nesciunt alias delectus soluta nam tempore pariatur. Quod, optio atque perferendis enim et temporibus repudiandae accusamus illo impedit!</p>
            </article>
          </section>
        </article>
      </div>
    </section>
  </main>
  <div id="toast-container"></div>
  <script src="/assets/js/main.js"></script>
  <!-- <container>DRAFT</container> -->
</body>

</html>