<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Yaseen Saad-Eldin | About </title>
  <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body>
  <section class="loader">
    <h2 class="animate">Decoding Me</h2>
  </section>
  <div id="overlay"></div>
  <main>
    <nav>
      <ul>
        <li><a class="active" href="/yaseenverse/">Yaseenverse</a></li>
        <li><a href="/">Thoughts</a></li>
        <li><a href="/">Activities</a></li>
      </ul>
      <h1><a href="/">&lt;Yasoo/&gt;</a></h1>
      <ul>
        <li><a href="/">Projects</a></li>
        <li><a href="/">Paybacks</a></li>
        <li><a href="/">Contact</a></li>
      </ul>
    </nav>
    <section class="landing">
      <article>
        <span></span>
        <h2 class="exception">Yaseen Saad-Eldin </h2>
        <span>
          A chill guy trying to decode the universe
          <!--  wants to be remembered. -->
        </span>
        <span>
          "High-schooler by day, philosopher by thought, coder by passion, and physicist by curiosity!"
        </span>
        <span id="state"></span>
      </article>
      <img src="/assets/images/Yaseen Saad Eldin Formall.jpg" alt="">
    </section>
    </article>
    <section class="briefabout">
      <article>
        <span>Greetings from 216.5 —My hybrid imaginary room,</span>
        <p>For those who skipped it in the home page, My name is <b>Yaseen Saad-Eldin Mohamed-Sabry Mohamed-Abdelal</b>, call me Yasoo. I'm a <span id="age"></span> year-old student with a universe-sized curiosity. I was born in Alexandria, where the salty Mediterranean air shaped the first nine years of my life. Later, I moved to Giza, where I’ve spent most of my time making hot chocolte —it's cold there, and avoiding the pyramids (surprisingly, locals don't visit them often). I've been to 4 schools were I tried to make a lot of friends until I finaly found my home at the academic boarding school —or as I call it "the jungle"— known as the <i><a href="https://www.stemegypt.net">STEM High School for Boys - 6th of October</a></i>.</p>
        <p>My passions lie in the realms of physics, computer science, and philosophy. By “passions,” I mean I spend my days attempting to understand the universe from the intricacies of quantum mechanics and with the elegance of astrophysics to what does atom really made of —I am lying I just know mechanics. When I'm not solving a random physics question in <i><a href="https://archive.org/details/physics-for-scientist-and-engineers-by-serway-and-jewett-10th-edition">Serway Physics for Scientists and Engineers</a> </i>or <i><a href="https://assets.openstax.org/oscms-prodcms/media/documents/UniversityPhysicsVol1-WEB.pdf?_gl=1*1cjzswi*_gcl_au*NjE1NTY3NjM5LjE3MzE1NzAyMTM.*_ga*NTk3ODY1MTQ4LjE3MzE1NjU0MzM.*_ga_T746F8B0QC*MTczNDE4MDMwOC4xNS4xLjE3MzQxODA0MjQuOC4wLjA.">Openstax University Physics</a></i>, you can usually find me buried with my roomates philsophiclly debating about life's biggest questions (*What's our purpose? Do parallel universes exist? Can we prediect the end of the universe using Entropy?*). I always win—at least in my mind. If my roomates are not free, I oftentimes read in my current book<i> <span id="currentbook"></span></i>.</p>
        <p>I'm a passionate basketball player, though my journey on the court was cut short after five years due to an unfortunate injury —Imagine trying to dribble with two knees on the same leg (yes it's as awkward as it sounds). Despite that, the thrill of the game, the feeling of the oragne ball, the teamwork, and the rush of the adrenaline on a perfect shot are irreplaceable experiences, and my love for the game hasn't waned —If I am not at 216.5 you probaly gonna find my at the school court.</p>
        <p>My school life is a whirlwind of clubs and extracurricular activities. I'm a member of like 16 out of our 21 clubs (Medicne related clubs? Not really mything). The clubs are more than a pastime; they're a platform to exchange ideas and challenge myself. </p>
        <p>As for my future, I haven't yet declared a major. Why? Because choosing feels like limiting myself. I'm neither a jack of all trades nor a master of one, but a master of everyone. My plan? Probably a double major in physics and computer science, but who knows? The universe is vast, and I’m just getting started.</p>
        <p>Sometimes, life feels overwhelming, as if there's too much noise and too many moving pieces, and the problem is not in there movement, but in you trying to understand why they are moving. In those moments, I gather to my secret spot at school (hint: the highest peak), plug in my earbuds, and let the rhythms of my favorite songs black me out. Music isn’t just an escape—it’s a reset button, a spark that reignites my peace when the world feels too chaotic.</p>
        <p>At my core, I live to be remembered, I believe that I was born for a reason —I am just <span id="age"></span>, so I may do not fully know it yet— and I had to achive it. Maybe it's an invention, a discovery, or a movement, but whatever it is, it will have a lasting impact. My ultimate goal is to create something that serves humanity, something timeless that stands as proof of what the mind can accomplish. I don't know who Mohamed-Abdelal was; I've never met him, nor have I heard his story. I refuse to let my grandchildren live in similar ambiguity. I want them to be proud to carry my name—not just for what I achieve, but for how I live, for the ideas I bring to life, and for the inspiration I pass on. </p>
        <p>Finally, Welcome to my world—where science, curiosity, and a bit of humor collide. Feel free to stick around, explore, and maybe even spark a conversation about your favorite rap disstrack, a physics question, a line of code, a tip in surviving the jungle, your purpose of life, or even why The Flash's third season deserved more love. You might just find a piece of yourself in the puzzle that is me. May curiosity, creativity, and a sprinkle of chaos continue to fuel my journey through this wild, unpredictable world.</p>
        <span>
          <br>
          Best regards,
          <br>
          Yaseen Saad-Eldin
        </span>
      </article>
    </section>
    <section class="carrier">
      <h2>My Schools</h2>
      <!-- <article>
        <div class="timeline">
          <div class="outer">
            <div class="card">
              <div class="info">
                <h3 class="title">2013-Corona Language School</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
              </div>
            </div>
            <div class="card">
              <div class="info">
                <h3 class="title">2014-Abdelsalam El-Mahgoob Language School</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
              </div>
            </div>
            <div class="card">
              <div class="info">
                <h3 class="title">2017-Myterer Mohamed Fawzy El-Hofy Language School</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
              </div>
            </div>
            <div class="card">
              <div class="info">
                <h3 class="title">2023-STEM High School for Boys - 6th of October</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
              </div>
            </div>
            <div class="card">
              <div class="info">
                <h3 class="title">Title 5</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
              </div>
            </div>
          </div>
        </div>
      </article> -->
      <article>
        <ul class="timeline">
          <li class="event" data-date="2008">
            <h3>The Big bang</h3>
            <p>I was born in <a href="https://www.facebook.com/el.saad.hospital/">Saad Alexandria Hospital</a> —I know it's wired (Saad), and I've taken my first brith in this universe</p>
          </li>
          <li class="event" data-date="2014">
            <h3>First First School Day</h3>
            <p>I went to <a href="https://www.facebook.com/people/%D9%85%D8%AC%D9%85%D8%B9-%D9%85%D8%AF%D8%A7%D8%B1%D8%B3-%D9%83%D9%88%D8%B1%D9%88%D9%86%D8%A7-%D8%A7%D9%84%D8%B1%D8%B3%D9%85%D9%8A%D8%A9-%D8%A7%D9%84%D9%85%D8%B4%D8%AA%D8%B1%D9%83%D8%A9-%D9%84%D8%BA%D8%A7%D8%AA/100089884334904/"> Corona Language School</a> , I spent there a year at K1</p>
          </li>
          <li class="event" id="date" data-date="2015">
            <h3>Second First School Day</h3>
            <p>I then moved to <a href="https://www.facebook.com/abdasalamalx/"> Abdelsalam El-Mahgoub Language School </a>, where I tried to make some friends</p>
          </li>
          <li class="event" id="date" data-date="2016">
            <h3>The big jump</h3>
            <p>I was promoted from K2 to G2 directly without getting G1, yay!</p>
          </li>
          <li class="event" id="date" data-date="2017">
            <h3>First to break into the podium</h3>
            <p>I've Ranked the top 10 of my class of 120+ other students</p>
          </li>
          <li class="event" id="date" data-date="2018">
            <h3>Third First School Day</h3>
            <p>I then moved to <a href="https://www.facebook.com/abdasalamalx/"> Mohamed Fawzy El-Hofi Language School</a>, the school I spent most of my life there.</p>
          </li>
          <li class="event" id="date" data-date="2019">
            <h3>Joined Student Councel</h3>
            <p>I camped at home for a while, which helped me to break into the top 10 again.</p>
          </li>
          <li class="event" id="date" data-date="2020">
            <h3>Covid 19 💀</h3>
            <p>I camped at home for a while, which helped me to break into the top 10 again.</p>
          </li>
          <li class="event" id="date" data-date="2021">
            <h3>Joined <a href="https://www.facebook.com/IEEEO6U/"> IEEEO6U</a> as the youngest member at IEEE</h3>
            <p>It was my first time to join a student activity, I was always the earlybird, I was a volunteer at the CS committee for that season.</p>
          </li>
          <li class="event" id="date" data-date="2022—April">
            <h3>Joined the excutive committee <a href="https://www.facebook.com/IEEEO6U/"> IEEEO6U</a> as the youngest member at IEEE</h3>
            <p>I was promoted to the excutive committee of the branch, there I manged the CS committee and the <a href="ieeeo6u.org">branch's website</a> —the website is currently off due to the new board.</p>
          </li>

          <li class="event" id="date" data-date="2022—Dec">
            <h3>Organized the induction day at <a href="https://www.facebook.com/IEEEO6U/"> IEEEO6U</a></h3>
            <p>I've organized the induction day —which is the day that the excutive committee and best members go to get new members to the branch— where I could persude 80+ university students to join the branch and start doing some ECs.</p>
          </li>
        </ul>
      </article>
    </section>
  </main>
  <section class="designer">
    <h2>I Design</h2>
    <article>
      <span>
        "Greetings from Giza!
      </span>
      <p>
        My name is <b>Yaseen Saad-Eldin Mohamed-Sabry Mohamed-Abdelal</b>, but you can call me Yasoo. I'm a <span id="age"></span> year-old student with a universe-sized curiosity, currently navigating the academic boarding school —or as I call it "the jungle"— known as the <a href="https://www.stemegypt.net"><i>STEM High School for Boys - 6th of October</i></a>. Let's just say the entrance exam was a battle royale, and I'm proud to say I emerged victorious, landing in the top 0.2% of applicants.
      </p>
      <p>
        My passions lie in the realms of physics and computer science. I spend my days dissecting the mysteries of the universe, from the intricacies of quantum mechanics to the elegance of astrophysics —I am lying I just know mechanics. When I'm not battling equations, you can usually find me buried in code, exploring the digital frontier.
      </p>
      <p>
        I'm a bit of a competitive spirit, having achieved a 5th-place (gold medal) global ranking at the International Physics Realm (IPhR) and the prestigious title of the top Ambassador —I got 85+ other peers to particpate. I've also secured 1st place in Category C of Physics Brawl 2023 and 1st place in Africa and 34th globally in Category B of 2024, breaking the record for the highest score by an African participant. My competitive spirit extends beyond physics. I've achieved an 8th-place ranking in the Logarythm Mathematics Competition and a remarkable score of 55 on the TOFAS Test.
      </p>
      <p>
        Beyond the classroom, I'm deeply involved in the DIGITAL EGYPT CUBS INITIATIVE, where I'm among the select few students chosen for the highest level of training. This program has provided me with invaluable opportunities to hone my coding skills, culminating in a first-place victory at the DECI GEEKS Competition and qualification for the second round of the ECPC in both 2023 and 2024.
      </p>
      <p>
        I'm a member of 13 out of the 14 clubs in school (Biology club? Not so much.), and I'm currently vying for the presidency of both the Physics and Computer Science clubs.
      </p>
      <p>
        Welcome to my corner of the internet. Explore, learn, and feel free to reach out if you have any questions about physics, coding, or how to survive high school.
      </p>

      Best regards,
      <br>
      Yaseen Saad-Eldin
    </article>
  </section>
  <div id="toast-container"></div>
  <script src="/assets/js/main.js"></script>
  <script src="/assets/js/yaseenverse.js"></script>
  <!-- <container>DRAFT</container> -->
</body>

</html>