body {
    .game {
        display: flex !important;
        flex-direction: column;
    }

    @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

    $base-spacing-unit: 24px;
    $half-spacing-unit: $base-spacing-unit / 2;

    $color-alpha: #1772FF;


    table {
        width: 100%;
    }

    th {
        display: flex;
        text-transform: uppercase;
        width: 100%;
        font-size: 2rem;
        justify-content: center;
        align-items: center;
        padding: ($half-spacing-unit * 1.5) 0;
    }

    tr {
        display: flex;
        width: 100%;
        padding: ($half-spacing-unit * 1.5) 0;

        &:nth-of-type(odd) {
            background: #fff;
        }
        &.team{
            background-color: #00ae6b;
        }
        &:nth-child(2){
            background-color: Gold;
        }
        &:nth-child(3){
            background-color: silver;
        }
        &:nth-child(4){
            background-color: burlywood;
        }
     
    }

    td,
    th {
        flex: 1 1 20%;
        text-align: center;
    }
}